<div class="homePage" id="bg">
    <div class="contents">
        <div class="greeting-container">
            <h1>IT'S ALL THAT</h1>
            <h1 id="and-sign">&</h1>
            <img src="../../assets/logo.png" class="header-logo"/>
           
        </div>
        <div class="header-image">
            <img src="../../assets/Images/homeHeaderBurger.png" class="header-img"/>
        </div>

        <div class="burger-slider">
            <h1>Burgers</h1>
            <div class="carousel-container">
            <div class="carousel">
                <img src="../../assets/arrows/left-arrow.png" class="arrow-left" (click)="scroll(-scrollAmount)">
                <img  src="../../assets/arrows/right-arrow.png" class="arrow-right" (click)="scroll(scrollAmount)">
                <div class="carousel">
                    <div class="card" *ngFor="let burger of listOfBurgers; let i = index"  [ngClass]="{'even': i % 2 == 0, 'odd': i % 2 != 0, 'third': i % 3 == 0}">
                      <div class="circle">
                        <img [src]="burger.image" class="card-img" />
                      </div>
                      <h3>{{ burger.name }}</h3>
                    </div>
                  </div>
            </div> 
        </div>

        </div>

        <div class="info-slider">
            <hr/>
            <h4>IT'S SIMPLE</h4>
            <h1>GOOD FOOD,</h1>
            <h1>GOOD MOOD</h1>
            <p>We get it - and that’s why we are able to probide top quality burgers to top quality customers.</p>
        </div>

        <div class="make-container">
            <div class="make-content">
                <h1>LET’S MAKE SOMETHING GREAT.</h1>
                <p>Why settle for less than perfection? Especially when you can make your dream burger within a few clicks!</p>
                <button class="'primary-btn" (click)="navigate()">Create</button>
            </div>
          
            <div class="make-img">
                <img src="../../assets/Images/makeBurger.png" class="makeImg"/>
            </div>

        </div>

    </div>
</div>
