<div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel-slide">
      <!-- slide content here -->
      <div class="carousel">
        <div class="card">
            <div class="circle">
                <img src="../../assets/Burger/burger1.png" class="card-img"/>
            </div>
            <h3>Lean & Mean</h3>
        </div>
    </div>
      </div>
      <div class="carousel-slide">
        <!-- slide content here -->
        <div class="carousel">
            <div class="card">
                <div class="circle">
                    <img src="../../assets/Burger/burger1.png" class="card-img"/>
                </div>
                <h3>Lean & Mean</h3>
            </div>
        </div>
        
      </div>
      <div class="carousel-slide">
        <div class="carousel">
            <div class="card">
                <div class="circle">
                    <img src="../../assets/Burger/burger1.png" class="card-img"/>
                </div>
                <h3>Lean & Mean</h3>
            </div>
        </div>
      </div>
      <!-- add more slides as needed -->
    </div>
  </div>