<div class="navBar">
  <img src="../assets/logo.png" height="80px" class="nav-logo"/>
  <nav>
    <ul>
      <li>
        <a routerLink="/landing" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      </li>
      <li appAuthOnly  [isVerified]="!isVerified">
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
      </li>
      <li appAuthOnly  [isVerified]="isVerified">
        <a routerLink="/inventoryIngrediants" routerLinkActive="active" ariaCurrentWhenActive="page">Ingredients</a>
      </li>
      <li appAuthOnly  [isVerified]="isVerified">
        <a routerLink="/inventoryBurgers" routerLinkActive="active" ariaCurrentWhenActive="page">Burgers</a>
      </li>
      <li appAuthOnly  [isVerified]="isVerified">
        <a routerLink="/creationStation" routerLinkActive="active" ariaCurrentWhenActive="page">Creation Station</a>
      </li>
      <li appAuthOnly  [isVerified]="isVerified">
        <a routerLink="/locationScreen" routerLinkActive="active" ariaCurrentWhenActive="page">Locations</a>
      </li>
    </ul>
  </nav>


  <select id="locations" appAuthOnly [isVerified]="isVerified" [(ngModel)]="selectedLocation"  (change)="onLocationChange()">
    <option value="Mystic Falls">Mystic Falls</option>
    <option value="Riverdale">Riverdale</option>
    <option value="Sunnydale">Sunnydale</option>
  </select>
  
</div>


<!-- Outputs Content of navigated to components -->
<div class="outer-container">
  <router-outlet></router-outlet> 
</div>

<div class="footer">
  <footer>
    <img src="../assets/logo.png" height="60px" class="nav-logo"/>
    <small>©2023 Juicier. All rights reserved.</small>
  </footer>
</div>
