<div class="locationPage" id="bg">
    <div class="contents">
        <div class="greeting-container">
            <h1>JUICIER'S JUICY</h1>
            <img src="../../assets/words/location.png" class="header-logo"/>
            <p>Following your heart will eventually lead you to burgers. Or in this case... to Juicer Burger Joint! And to help speed up the process - we’ve literally given you a map.</p>
        </div>


        <div class="header-image">
            <img src="../../assets/Images/location.png" class="header-img"/>
        </div>

        <div class="locations">
            <img src="../../assets/map/map.png" class="map-img"/>
            <div class="location-info">
                <h2>Location Name</h2>
                <p>Located in the stunning Mystic falls - this location is one of our most popular!</p>
                <h3>Stock</h3>
                <p>Let's see what we've got!</p>
                <h4>Burgers</h4>

            </div>
        </div>






    </div>
</div>
