<div class="locationPage" id="bg">
    <div class="contents">
        <div class="greeting-container">
            <h1>JUICIER'S JUICY</h1>
            <img src="../../assets/words/location.png" class="header-logo"/>
            <p>Following your heart will eventually lead you to burgers. Or in this case... to Juicer Burger Joint! And to help speed up the process - we’ve literally given you a map.</p>
        </div>


        <div class="header-image">
            <img src="../../assets/Images/location.png" class="header-img"/>

        </div>
        <div class="locations">
            <img src="../../assets/map/map.png" class="map-img"/>
            <img class="point myst" src="../../assets/map/location1.png" (click)="selectImage(1, 'Mystic Falls')" [class.active]="selectedImage1 === 'Mystic Falls'" />
            <img class="point river" src="../../assets/map/location2.png" (click)="selectImage(2, 'Riverdale')" [class.active]="selectedImage2 === 'Riverdale'" />
            <img class="point sunny" src="../../assets/map/location3.png" (click)="selectImage(3, 'Sunnydale')" [class.active]="selectedImage3 === 'Sunnydale'" />
            <div class="location-info">
                <h2>{{locationName}}</h2>
                <p>{{locationDescription}}</p>
                <h3>Ingredient Inventory</h3>
                <P class="text">Let's take a peak at this locations inventory!</P><br/>
                <mat-accordion  [displayMode]="'flat'">
                    <mat-expansion-panel  class="mat-elevation-z0">
                      <mat-expansion-panel-header>Bread</mat-expansion-panel-header>
                      <ul>
                        <li *ngFor="let category of groupedIngredients.Bread">
                            {{category.name}}: 
                            {{category.amount}}
                        </li>
                      </ul>
                    </mat-expansion-panel>
                  
                    <mat-expansion-panel  class="mat-elevation-z0">
                      <mat-expansion-panel-header>Patties</mat-expansion-panel-header>
                      <ul>
                        <li *ngFor="let category of groupedIngredients.Patty">{{category.name}}: {{category.amount}}</li>
                      </ul>
                    </mat-expansion-panel>
                  
                    <mat-expansion-panel  class="mat-elevation-z0">
                      <mat-expansion-panel-header>Cheese</mat-expansion-panel-header>
                      <ul>
                        <li *ngFor="let category of groupedIngredients.Cheese">{{category.name}}: {{category.amount}}</li>
                      </ul>
                    </mat-expansion-panel>
                  
                    <mat-expansion-panel  class="mat-elevation-z0">
                      <mat-expansion-panel-header>Garnish</mat-expansion-panel-header>
                      <ul>
                        <li *ngFor="let category of groupedIngredients.Garnish">{{category.name}}: {{category.amount}}</li>
                      </ul>
                    </mat-expansion-panel>
                  
                    <mat-expansion-panel  class="mat-elevation-z0">
                      <mat-expansion-panel-header>Sauce</mat-expansion-panel-header>
                      <ul>
                        <li *ngFor="let category of groupedIngredients.Sauce">{{category.name}}: {{category.amount}}</li>
                      </ul>
                    </mat-expansion-panel>
                </mat-accordion>
              </div>
          </div>






    </div>
</div>
