<div class="homePage" id="bg" >
    <div class="contents">
        <div class="greeting-container">
          
            <img src="../../assets/words/login.png" class="header-logo"/>
            <p>Hey there friend! We just need you to add your email and remind us what your favourite burger is then you’re good to go!</p>

        </div>


        <!-- <div class="header-image">
            <img src="../../assets/Images/bInventoryBurger.png" class="header-img"/>
        </div> -->

        <div class="login-form">
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input [formControl]="username" type="Text" matInput  placeholder="Username">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Favourite Burger</mat-label>
              <input [formControl]="favouriteBurger"  type="text" matInput  placeholder="CheesySqueez">
            </mat-form-field>

            <button (click)="checkVerification()">Login</button>

        </div>

        <div class="error-holder" *ngIf = "isError">
            <div class="error-div">
                <h2>Uh Oh!</h2>
                <p>Looks like you have entered the incorrect username or password!</p>
                <button (click)="closeError()">Try Again</button>
            </div>
        </div>




    </div>
</div>
