<div class="homePage" id="bg">
    <div class="contents">
        <div class="greeting-container">
            <h1>TIME TO START</h1>
            <img src="../../assets/words/creating.png" class="header-logo"/>

            <!-- <p>Why settle for less than perfection? Especially when you can make your dream burger within a few clicks!</p>
            <button class="primary-btn">Get Creating</button> -->
        </div>
        
        <img src="../../assets/arrows/arrow1.png" class="header-arrow"/>

        <div class="header2-text">
            <h2>Here's How</h2>
            <p>Click on the different elements to see all the available options. Keep clicking until you've created your personal masterpiece.</p>
        </div>

        <div class="creation-station">
            <h1>CREATE</h1>
        </div>


    </div>
</div>
