<div class="homePage" id="bg">
    <div class="contents">
        <div class="greeting-container">
            <h1>TIME TO START</h1>
            <img src="../../assets/words/creating.png" class="header-logo"/>

            <!-- <p>Why settle for less than perfection? Especially when you can make your dream burger within a few clicks!</p>
            <button class="primary-btn">Get Creating</button> -->
        </div>
        
        <img src="../../assets/arrows/arrow1.png" class="header-arrow"/>

        <div class="header2-text">
            <h2>Here's How</h2>
            <p>Click on the different elements to see all the available options. Keep clicking until you've created your personal masterpiece.</p>
        </div>

        
        <select id="locations" [(ngModel)]="selectedLocation"  (change)="onLocationChange()">
            <option value="Mystic Falls">Mystic Falls</option>
            <option value="Riverdale">Riverdale</option>
            <option value="Sunnydale">Sunnydale</option>
          </select>

        <div class="creation-station">
       
            <div class="left-pannel">
                <div class="circle">
                  <div class="ingredientContainerBread" *ngIf="selectedBreadIngredient">
                    <img [src]="selectedBreadIngredient.image">
                  </div>

                  <div class="inner">
   
                    <div class="ingredientContainerInner" *ngIf="selectedTomatoIngredient">
                        <img [src]="selectedTomatoIngredient.image ">
                      </div>
                      <div class="ingredientContainerInner" *ngIf="selectedLettuceIngredient">
                        <img [src]="selectedLettuceIngredient.image">
                      </div>
                    <div class="ingredientContainerInner" *ngIf="selectedSauceIngredient">
                      <img [src]="selectedSauceIngredient.image">
                    </div>
                    <div class="ingredientContainerInner" *ngIf="selectedPattyIngredient">
                      <img [src]="selectedPattyIngredient.image">
                    </div>
                    <div class="ingredientContainerInner" *ngIf="selectedCheeseIngredient">
                        <img [src]="selectedCheeseIngredient.image">
                      </div>
                    <div class="ingredientContainerInner" *ngIf="selectedOnionIngredient">
                        <img [src]="selectedOnionIngredient.image">
                      </div>

                  </div>
                </div>
              </div>
              
         
              
              <div class="right-pannel">
                <h1>CREATE</h1>
                <h1 class="burger-text">burger</h1>
                <form [formGroup]="newBurger" (ngSubmit)="createBurger()">
                    
                    <input type="text" formControlName="name" matInput placeholder="Name you burger!" > 
                    
                    <div class="col-container">
                    <div class="column-one">
                        <div class="ingrediant" (click)="onIngredientClick(0)">
                            <strong><p>{{ breadIngrediants[currentIndex[0]].category }}:</p></strong>
                            <p class="right">{{ breadIngrediants[currentIndex[0]].name }}</p>
                        </div>
                        
                        <div class="ingrediant" (click)="onIngredientClick(1)">
                            <strong><p>{{ pattyIngrediants[currentIndex[1]].category }}:</p></strong>
                            <p class="right">{{ pattyIngrediants[currentIndex[1]].name }}</p>
                        </div>
                    
                        <div class="ingrediant" (click)="onIngredientClick(2)">
                            <strong><p>{{ cheeseIngrediants[currentIndex[2]].category }}:</p></strong>
                            <p class="right">{{ cheeseIngrediants[currentIndex[2]].name }}</p>
                        </div>
                        <div class="ingrediant" (click)="onIngredientClick(4)">
                            <strong><p>{{ sauceIngrediants[currentIndex[4]].category }}:</p></strong>
                            <p class="right">{{ sauceIngrediants[currentIndex[4]].name }}</p>
                            </div>
                    

                    </div> 
                    <div class="column-two">
                        <div *ngFor="let garnish of garnishIngrediants; let i=index" class="ingrediant" (click)="toggleGarnish(i)">
                            <strong><p>{{ garnish.name }}:</p></strong>
                            <p class="right">{{ garnishStatus[i] ? 'yes' : 'no' }}</p>
                        </div>
                </div>
                </div>

                <div class="centre">
                    <button class="primary-btn">Create!</button>
                </div>

              
            </form>
              </div>
              <div class="created-holder"  *ngIf="isCreated">
                <!-- <div class="created-holder"> -->
                <div class="created-div">
                    <h2>Whoopie!</h2>
                    <p>You're officially a burger architect! Enjoy every juicy bite and revel in the fact that you've achieved burger greatness! </p>
                    <button (click)="closeCreated()">See your burger!</button>
                </div>
            </div>             
              
        </div>


    </div>
</div>
