<div class="homePage" id="bg">
    <div class="contents">
        <div class="greeting-container">
            <h1>BUN IN A BILLION</h1>
            <img src="../../assets/words/creation.png" class="header-logo"/>
            <p>Yep - they're that good. So get cooking or create a new burger from scratch. Let's tickle some more tastebuds.</p>
            <button class="primary-btn">Get Cooking</button>
            <button class="primary-btn two">Something New</button>
        </div>


        <div class="header-image">
            <img src="../../assets/Images/bInventoryBurger.png" class="header-img"/>
        </div>

        <div class="burger-slider">
            <hr/>
            <h4 class="burger-heading">Menu Burgers</h4>
          
            <div class="carousel-container">
          
              <div class="carousel">
             <img src="../../assets/arrows/left-arrow.png" class="arrow-left" (click)="scroll(-scrollAmount)">
                <img  src="../../assets/arrows/right-arrow.png" class="arrow-right" (click)="scroll(scrollAmount)">
                <div class="card" *ngFor="let burger of listOfBurgers">
                  <div class="top-circle">
                    <h4>{{ burger.amount }}</h4>
                  </div>
                                     
                  <div class="circle">
                    <img [src]="burger.image" class="card-img" />
                  </div>
                  <h3>{{ burger.name }}</h3>
                  <button (click)="showPopup = true; selectedBurger = burger">Build</button>
                </div>
              </div>
        
            </div>
          </div>
          
          

        <app-buildpopup *ngIf="showPopup" [selectedBurger]="selectedBurger" (close)="showPopup = false"></app-buildpopup>
     

        <div class="burger-slider two">
            <hr/>
            <h4 class="burger-heading">Special Creations</h4>

            <div class="carousel">
                <div class="card">
                    <div class="top-circle">
                        <h4>10</h4>
                    </div>
                    <div class="circle">
                        <img src="../../assets/Burger/burger1.png" class="card-img"/>
                    </div>
                    <h3>Chicken Patty</h3>
                    <button>Update</button>
                </div>
            </div>
        </div>



    </div>
</div>
